<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nyu.tandon.cs9033.gameralarm" >


    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity android:name=".controllers.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.BallGameActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".controllers.AddAlarmActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".controllers.NormalAlarmActivity"
            android:label="@string/app_name" >
        </activity>
        <receiver
            android:name=".controllers.AlarmReceiver"
            android:label="@string/app_name">
        </receiver>
    </application>

</manifest>
